.wrapper {
    position: fixed;
    top:79px;
    left: 0px;
    width: 256px;
    height: 515px;
    border-radius: 9px;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px 1px rgb(192, 192, 192);
}


.sales, 
.admin {
    display: flex;
    flex-direction: column;
    
    button{
        text-align: left;
        padding: 20px 10px;
        font-size: 1.7rem;
        border-radius: 9px;
        border: none;
        outline: none;
        background: transparent;

        &:hover {
            cursor: pointer;
            background: rgb(221, 221, 221);
        }

        &:active {
            background: rgb(192, 192, 192);
        }
    }
}
.sales {
    border-bottom: solid 1px rgb(194, 194, 194);
}

.admin {
    margin-top: 20px;
}
